@page
@model inv.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create"class="btn btn-primary">Create New</a>
</p>
<form>
    <p>
        
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product[0].day_received)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product[0].Hardware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product[0].serial_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product[0].state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product[0].contract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.day_received)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hardware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serial_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contract)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-outline-primary">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
